<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1><span>{{ title }}</span>のサンプル</h1>

  <div class="row">
    <input type="text" class="form-control" [(ngModel)]="inputItem" />
    <button type="button" class="btn-action" (click)="addItem()">追加</button>
  </div>

  <div class="tmp-space">
    入力値 : <span>{{ inputItem }}</span>
  </div>

  <div>
    <table class="table-bordered">
      <thead>
        <tr>
          <th>重要度大</th>
          <th>重要度中</th>
          <th>重要度小</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p *ngFor="let todo of todos.high">
              <button type="button" 
                class="btn-todo-high"
                [class.selected]="todo === selectedItem"
                (click)="onClickTodo(todo)"
              >{{ todo }}</button>
            </p>
          </td>
          <td>
            <p *ngFor="let todo of todos.normal">
              <button type="button" 
                class="btn-todo-normal"
                [class.selected]="todo === selectedItem"
                (click)="onClickTodo(todo)"
              >{{ todo }}</button>
            </p>
          </td>
          <td>
            <p *ngFor="let todo of todos.low">
              <button type="button" 
                class="btn-todo-low"
                [class.selected]="todo === selectedItem"
                (click)="onClickTodo(todo)"
              >{{ todo }}</button>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="tmp-space">
    重要度の変更を表示 : <span>{{ isSelectdItem }}</span>
  </div>

  <div *ngIf="isSelectdItem">
    <div class="content-center">
      <div class="card">
        <p class="text-center">
          <span class="color-red">{{ selectedItem }}</span>の重要度を
        </p>
        <p>
          <button type="button" class="btn-action" disabled>上げる</button>
          <button type="button" class="btn-action">下げる</button>
        </p>
      </div>
    </div>
  </div>
</div>

